PORT = YOUR PORT AT YOU WANT TO RUN YOUR APPLICATION WILL GO HERE
JWT_SECRET = A SEXRET KEY WHICH YOU ARE GOING TO GENERATE YOUR JWT ACCESS TOKEN WILL GO HERE
DATABASE_URL = YOUR DATABASE CONNECTION STRING WILL GO HERE
OAUTH_GOOGLE_CLIENT_ID = YOUR CLIENT ID will GO HERE WHICH YOU GENERATED ON GOOGLE CLOUD CONSOLE FOR SING IN WITH GOOGLE
OAUTH_GOOGLE_SECRET = YOUR GOOGLE SECRET WILL GO HERE WHICH YOU GENERATED ON GOOGLE CLOUD CONSOLE FOR SIGN IN WITH GOOGLE